.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  height: 62dvh;
}

.table th:first-child,
.table th:last-child {
  border-radius: 0 !important;
}

.table td::before {
  border-radius: 0 !important;
}
