@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@layer base {
  :root {
    --background: 0 0% 100%; /* Blanco puro */
    --foreground: 224 71.4% 4.1%; /* Azul muy oscuro (casi negro) */
    --card: 0 0% 100%; /* Blanco puro */
    --card-foreground: 224 71.4% 4.1%; /* Azul muy oscuro (casi negro) */
    --popover: 0 0% 100%; /* Blanco puro */
    --popover-foreground: 224 71.4% 4.1%; /* Azul muy oscuro (casi negro) */
    --primary: 1 77% 72%; /* Rojo vibrante */
    --primary-focus: 1 83% 65%; /* Rojo más saturado */
    --primary-foreground: 220 15% 20%; /* Azul oscuro */
    --secondary: 220 14.3% 95.9%; /* Azul muy claro */
    --secondary-focus: 220 20% 90%; /* Azul un poco más oscuro */
    --secondary-foreground: 220 30% 20%; /* Azul oscuro */
    --muted: 220 14.3% 95.9%; /* Azul muy claro */
    --muted-foreground: 220 8.9% 46.1%; /* Gris azulado */
    --accent: 220 14.3% 95.9%; /* Azul muy claro */
    --accent-foreground: 220.9 39.3% 11%; /* Azul muy oscuro */
    --destructive: 0 84.2% 60.2%; /* Rojo fuerte */
    --destructive-foreground: 210 20% 98%; /* Blanco muy claro */
    --border: 220 13% 91%; /* Gris muy claro */
    --input: 220 13% 91%; /* Gris muy claro */
    --ring: 224 71.4% 4.1%; /* Azul muy oscuro (casi negro) */
    --chart-1: 12 76% 61%; /* Naranja brillante */
    --chart-2: 173 58% 39%; /* Verde azulado */
    --chart-3: 197 37% 24%; /* Azul petróleo */
    --chart-4: 43 74% 66%; /* Amarillo brillante */
    --chart-5: 27 87% 67%; /* Naranja cálido */
    --radius: 0.5rem; /* Valor de radio (medida de esquinas redondeadas) */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.data-[focus-visible='true']:outline-focus {
  outline-color: red !important; /* Customize the outline color */
}

.max-height {
  height: calc(100dvh - 148px);
  overflow: auto;
}
